.place__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  max-width: 456px;
  margin: 0 0 12px;
  text-transform: uppercase;
  color: #aaa;
}
